---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'International Conference on Science, Social Studies, Innovation and Management',
  ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Register Now',
        href: '#',
        icon: 'tabler:user-plus',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'Conference Hero Image' }}
  >
    <Fragment slot="title">
      <span class="text-6xl bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 highlight">
          INTERDISCIPLINARY AND  INTERNATIONAL COOPERATION IN THE DIGITAL AGE
      </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
          Join us for the premier conference on interdisciplinary research and innovation.
          Explore cutting-edge perspectives in sciences, social sciences, innovation, and management.
          Network with leading researchers, academics, and professionals from around the globe.<br>
          ICSSIM: Bridging Disciplines.
      </span>
      <div class="mt-8 p-6 text-center bg-clip">

        <h2 class="text-6xl bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 highlight">
        CONFERENCE DETAILS
        </h2>
        
        <h3 class="text-xl font-semibold text-yellow-600 dark:text-white mb-2">
        <br>1 MARCH 2025 - 2 MARCH 2025

        </h3>
        <p class="text-[14px] text-stone-500 dark:text-white">
        (VDO conference by ZOOM Meeting)
        </p>

      </div>
    </Fragment>
  </Hero>


    <!-- Note Widget ******************* -->

    <Note />

    <!-- Features Widget *************** -->

  <div class="container mx-auto px-4 py-16">
    <center>
      <span class="text-6xl bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 title">
        ABOUT THE CONFERENCE
      </span>
    </center>  

    <Fragment slot="subtitle">
        <span class="hidden sm:inline">
          <br><br>
          The 1st International Conference on Science, Social Studies, Innovation, and Management (ICSSIM 2025) will be held online from March 1-2, 2025. This premier event is organized by Sastra Educational Connections.
      
          Join us to explore cutting-edge perspectives in sciences, social sciences, innovation, and management. ICSSIM 2025 provides a unique venue for lecturers, researchers, and students to exchange knowledge, gain research experience, and network with peers from around the globe.
      
          This conference aims to promote international and interdisciplinary research to advance knowledge and benefit society. It has been approved by the Sectoral Committee, International Advisory Committee, and International Scientific Committee, featuring experts and professors at the doctorate level from various fields.

          Don't miss this opportunity to be part of a transformative academic experience!
        </span>
    </Fragment>
  </div>

  <Features
    id="features"
    items={[
      {
        title: 'Knowledge Exchange in the Digital Era',
        description: 'The purpose of this academic forum is to exchange knowledge, perspectives, and experiences among academics, researchers, and students in higher education and to promote the production of meaningful research for society in the digital technology era.',
        icon: 'tabler:arrows-cross',
      },
      {
        title: 'Publication Opportunities',
        description: 'Multiple avenues for publishing your research:<br>• Abstracts and full papers presented at the <t>conference will be published in the conference proceedings.,<br>• Selected papers will be published in a TCI-indexed journal.,<br>• Other selected papers will be published in a SCOPUS-indexed journal.',
        icon: 'tabler:book',
      },    
      {
        title: 'Keynote Speakers',
        description: 'Showcase research in various fields via online lectures, promoting innovation for the digital society.',
        icon: 'tabler:microphone-2',
      },
      {
        title: 'Virtual Research Presentations',
        description: 'To help implement internal quality assurance indicators in higher education institutions.',
        icon: 'tabler:users',
      },
      {
        title: 'Paper Presentations',
        description: 'Showcase your research and gain valuable feedback from a diverse academic audience.',
        icon: 'tabler:presentation',
      },
      {
        title: 'Enhancing Academic Quality Assurance',
        description: 'Engage in thought-provoking debates on current trends and future directions in various disciplines.',
        icon: 'tabler:messages',
      },

    ]}
  />


  <Features3
    tagline="SUB THEMES"
    title="ICSSIM 2025 Conference Sub-Themes"
    subtitle="This subtitle emphasizes the innovative and cutting-edge nature of the conference topics."
    columns={4}
    isBeforeContent={true}
    items={[
      {
        title: 'Environmental Challenges in Business and Government',
        description:
          'Addressing ecological issues in organizational and policy contexts.',
        icon: 'tabler:template',
      },
      {
        title: 'Sustainable Practices in Business and Government',
        description:
          'Implementing eco-friendly strategies for long-term viability.',
        icon: 'tabler:template',  
      },
      {
        title: 'Innovations in Healthcare Business and Practice',
        description:
          'Advancing medical care through cutting-edge business models and technologies.',
        icon: 'tabler:template',  
      },
      {
        title: 'Innovations in Agriculture and Agribusiness',
        description:
          'Transforming food production and distribution with modern techniques.',
        icon: 'tabler:template',
      },
      {
          title: 'Digital Transformations and Disruptions',
          description:
            'Navigating technological changes reshaping industries and societies.',
            icon: 'tabler:template',

        },
        {
          title: 'The Digital Economy',
          description:
            'Exploring economic systems driven by digital technologies.',
            icon: 'tabler:template',
        },
        {
          title: 'Knowledge Management in the Digital Age',
          description:
            'Strategies for effectively handling information in the era of big data.',
            icon: 'tabler:template',
        },
        {
          title: 'Sport and E-Sport Management',
          description: 'Administering traditional and electronic sports in the modern era.',
          icon: 'tabler:template',
        },
    ]}
  />

  <Features3
    columns={4}
    isAfterContent={true}
    items={[

        {
          title: 'Interdisciplinary Perspectives on AI Innovation',
          description: 'Novel methods and technologies revolutionizing learning experiences.',
          icon: 'tabler:template',
        },
        {
          title: 'Teaching Innovation: Perspectives from the Field of Education',
          description:
            'Novel methods and technologies revolutionizing learning experiences.',
          icon: 'tabler:template',
        },
        {
          title: 'Education Management and Innovation',
          description:
            'Steering educational institutions towards future-ready practices.', 
          icon: 'tabler:template',  
        },
        {
          title: 'Communication Arts',
          description:
            'Exploring creative expression and information exchange in various media.',
          icon: 'tabler:template',
        },
        {
          title: 'Mental Health and Wellness',
          description: 'Exploring psychological well-being in personal and professional spheres.',
          icon: 'tabler:template',
        },
        {
          title: 'Multiple layout possibilities',
          description:
            'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
          icon: 'tabler:template',  
        },
        {
          title: 'Interdisciplinary Perspectives in the Sciences and Social Sciences',
          description:
            "Bridging diverse fields for comprehensive problem-solving.",
          icon: 'tabler:template',
        },
        {
          title: 'Innovations in Entrepreneurship and Business Growth',
          description:
            'Fostering creative approaches to start-ups and enterprise expansion,',
          icon: 'tabler:template',
        },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  />

    <!-- Steps Widget ****************** -->

  <Steps
    title="Streamlined Process for ICSSIM 2025 Participation"
    items={[
      {
        title: 'Step 1: <span class="font-medium">REGISTRATION</span>',
        description:
          "Complete the online registration form to secure your participation in ICSSIM 2025.",
        icon: 'tabler:messages',
      },
      {
        title: 'Step 2: <span class="font-medium">ABSTRACT SUBMISSION</span>',
        description:
          "Submit your research abstract for review by the ICSSIM 2025 Scientific Committee.",
        icon: 'tabler:messages',
      },
      {
        title: 'Step 3: <span class="font-medium">ABSTRACT REVIEW</span>',
        description:
          'Your abstract will undergo a thorough peer review process by our expert panel.',
        icon: 'tabler:messages',
      },
      {
        title: 'Step 4: <span class="font-medium">ABSTRACT DECISION NOTIFICATION</span>',
        description:
          'Receive notification of the review outcome via email from the ICSSIM 2025 Secretariat.',
        icon: 'tabler:messages',
      },
      {
        title: 'Step 5: <span class="font-medium">FULL PAPER SUBMISSION</span>',
        description:
          "Upon acceptance, submit your complete research paper following the provided guidelines.",
        icon: 'tabler:messages',
      },
      {
        title: 'Step 6: <span class="font-medium">FULL PAPER REVIEW</span>',
        description:
          "Your full paper will undergo a comprehensive peer review process.",
        icon: 'tabler:messages',
      },
      {
        title: 'Step 7: <span class="font-medium">FULL PAPER DECISION NOTIFICATION</span>',
        description:
          'Receive the final decision on your paper submission via email from the ICSSIM 2025 Secretariat.',
        icon: 'tabler:messages',
      },
      {
        title: 'Step 8: <span class="font-medium">REGISTRATION FEE PAYMENT</span>',
        description:
          'Process the conference registration fee to confirm your participation.',
        icon: 'tabler:messages',
      },
      {
        title: 'Step 9: <span class="font-medium">PAYMENT VERIFICATION</span>',
        description:
          'Our finance team will verify your payment and send a confirmation.',
        icon: 'tabler:messages',
      },
      {
        title: 'FINAL PAPER UPLOAD',
        description: 'Upload your final, camera-ready paper to the ICSSIM 2025 submission portal.',
        icon: 'tabler:messages',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'ICSSIM 2025 Participation Process',
    }}
  />
</Layout>