---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';

const metadata = {
  title: 'International Conference on Science, Social Studies, Innovation and Management',
  ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

<Hero
  actions={[
    {
      variant: 'primary',
      text: 'Register Now',
      href: '#',
      icon: 'tabler:user-plus',
    },
    { text: 'Learn more', href: '#features' },
  ]}
  image={{ src: '~/assets/images/hero-image.png', alt: 'Conference Hero Image' }}
>
  <Fragment slot="title">
    <span class="text-6xl bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 highlight">
        INTERDISCIPLINARY AND  INTERNATIONAL COOPERATION IN THE DIGITAL AGE
    </span>
  </Fragment>

  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
        Join us for the premier conference on interdisciplinary research and innovation.
        Explore cutting-edge perspectives in sciences, social sciences, innovation, and management.
        Network with leading researchers, academics, and professionals from around the globe.<br>
        ICSSIM: Bridging Disciplines.
    </span>
    <div class="mt-8 p-6 text-center bg-clip">

      <h2 class="text-6xl bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 highlight">
      CONFERENCE DETAILS
      </h2>
      
      <h3 class="text-xl font-semibold text-yellow-600 dark:text-white mb-2">
      <br>1 MARCH 2025 - 2 MARCH 2025

      </h3>
      <p class="text-[14px] text-stone-500 dark:text-white">
      (VDO conference by ZOOM Meeting)
      </p>

    </div>
  </Fragment>
</Hero>


  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

<div class="container mx-auto px-4 py-16">
  <center>
    <span class="text-6xl bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 title">
       ABOUT THE CONFERENCE
    </span>
  </center>  

  <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <br><br>
        The 1st International Conference on Science, Social Studies, Innovation, and Management (ICSSIM 2025) will be held online from March 1-2, 2025. This premier event is organized by Sastra Educational Connections.
    
        Join us to explore cutting-edge perspectives in sciences, social sciences, innovation, and management. ICSSIM 2025 provides a unique venue for lecturers, researchers, and students to exchange knowledge, gain research experience, and network with peers from around the globe.
    
        This conference aims to promote international and interdisciplinary research to advance knowledge and benefit society. It has been approved by the Sectoral Committee, International Advisory Committee, and International Scientific Committee, featuring experts and professors at the doctorate level from various fields.

        Don't miss this opportunity to be part of a transformative academic experience!
      </span>
  </Fragment>
</div>

<Features
  id="features"
  items={[
    {
      title: 'Knowledge Exchange in the Digital Era',
      description: 'The purpose of this academic forum is to exchange knowledge, perspectives, and experiences among academics, researchers, and students in higher education and to promote the production of meaningful research for society in the digital technology era.',
      icon: 'tabler:arrows-cross',
    },
    {
      title: 'Publication Opportunities',
      description: 'Multiple avenues for publishing your research:<br>• Abstracts and full papers presented at the <t>conference will be published in the conference proceedings.,<br>• Selected papers will be published in a TCI-indexed journal.,<br>• Other selected papers will be published in a SCOPUS-indexed journal.',
      icon: 'tabler:book',
    },    
    {
      title: 'Keynote Speakers',
      description: 'Showcase research in various fields via online lectures, promoting innovation for the digital society.',
      icon: 'tabler:microphone-2',
    },
    {
      title: 'Virtual Research Presentations',
      description: 'To help implement internal quality assurance indicators in higher education institutions.',
      icon: 'tabler:users',
    },
    {
      title: 'Paper Presentations',
      description: 'Showcase your research and gain valuable feedback from a diverse academic audience.',
      icon: 'tabler:presentation',
    },
    {
      title: 'Enhancing Academic Quality Assurance',
      description: 'Engage in thought-provoking debates on current trends and future directions in various disciplines.',
      icon: 'tabler:messages',
    },

  ]}
/>

  <!-- Content Widget **************** -->

 