---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'International Conference on Science, Social Studies, Innovation and Management',
  ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Register Now',
        href: '#',
        icon: 'tabler:user-plus',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'Conference Hero Image' }}
  >
    <Fragment slot="title">
      <span class="text-6xl bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 highlight">
          INTERDISCIPLINARY AND  INTERNATIONAL COOPERATION IN THE DIGITAL AGE
      </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
          Join us for the premier conference on interdisciplinary research and innovation.
          Explore cutting-edge perspectives in sciences, social sciences, innovation, and management.
          Network with leading researchers, academics, and professionals from around the globe.<br>
          ICSSIM: Bridging Disciplines.
      </span>
      <div class="mt-8 p-6 text-center bg-clip">

        <h2 class="text-6xl bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 highlight">
        CONFERENCE DETAILS
        </h2>
        
        <h3 class="text-xl font-semibold text-yellow-600 dark:text-white mb-2">
        <br>1 MARCH 2025 - 2 MARCH 2025

        </h3>
        <p class="text-[14px] text-stone-500 dark:text-white">
        (VDO conference by ZOOM Meeting)
        </p>

      </div>
    </Fragment>
  </Hero>


    <!-- Note Widget ******************* -->

    <Note />

    <!-- Features Widget *************** -->

  <div class="container mx-auto px-4 py-16">
    <center>
      <span class="text-6xl bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 title">
        ABOUT THE CONFERENCE
      </span>
    </center>  

    <Fragment slot="subtitle">
        <span class="hidden sm:inline">
          <br><br>
          The 1st International Conference on Science, Social Studies, Innovation, and Management (ICSSIM 2025) will be held online from March 1-2, 2025. This premier event is organized by Sastra Educational Connections.
      
          Join us to explore cutting-edge perspectives in sciences, social sciences, innovation, and management. ICSSIM 2025 provides a unique venue for lecturers, researchers, and students to exchange knowledge, gain research experience, and network with peers from around the globe.
      
          This conference aims to promote international and interdisciplinary research to advance knowledge and benefit society. It has been approved by the Sectoral Committee, International Advisory Committee, and International Scientific Committee, featuring experts and professors at the doctorate level from various fields.

          Don't miss this opportunity to be part of a transformative academic experience!
        </span>
    </Fragment>
  </div>

  <Features
    id="features"
    items={[
      {
        title: 'Knowledge Exchange in the Digital Era',
        description: 'The purpose of this academic forum is to exchange knowledge, perspectives, and experiences among academics, researchers, and students in higher education and to promote the production of meaningful research for society in the digital technology era.',
        icon: 'tabler:arrows-cross',
      },
      {
        title: 'Publication Opportunities',
        description: 'Multiple avenues for publishing your research:<br>• Abstracts and full papers presented at the <t>conference will be published in the conference proceedings.,<br>• Selected papers will be published in a TCI-indexed journal.,<br>• Other selected papers will be published in a SCOPUS-indexed journal.',
        icon: 'tabler:book',
      },    
      {
        title: 'Keynote Speakers',
        description: 'Showcase research in various fields via online lectures, promoting innovation for the digital society.',
        icon: 'tabler:microphone-2',
      },
      {
        title: 'Virtual Research Presentations',
        description: 'To help implement internal quality assurance indicators in higher education institutions.',
        icon: 'tabler:users',
      },
      {
        title: 'Paper Presentations',
        description: 'Showcase your research and gain valuable feedback from a diverse academic audience.',
        icon: 'tabler:presentation',
      },
      {
        title: 'Enhancing Academic Quality Assurance',
        description: 'Engage in thought-provoking debates on current trends and future directions in various disciplines.',
        icon: 'tabler:messages',
      },

    ]}
  />

  <!-- Content Widget **************** -->

  <Content
      isReversed
      tagline="SUB THEMES"
      title="ICSSIM 2025 Conference Sub-Themes"
      items={[
        {
          title: 'Environmental Challenges in Business and Government',
          description:
            'Addressing ecological issues in organizational and policy contexts.',
        },
        {
          title: 'Sustainable Practices in Business and Government',
          description:
            'Implementing eco-friendly strategies for long-term viability.',
        },
        {
          title: 'Innovations in Healthcare Business and Practice',
          description:
            'Advancing medical care through cutting-edge business models and technologies.',
        },
        {
          title: 'Innovations in Agriculture and Agribusiness',
          description:
            'Transforming food production and distribution with modern techniques.',
        },
      ]}
      image={{
        src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'Colorful Image',
      }}
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
        Gain a competitive advantage by incorporating industry leading practices
      </Fragment>

      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
  </Content>

    <!-- Content Widget **************** -->

  <Content
      isAfterContent
      items={[
        {
          title: 'Mental Health and Wellness',
          description: 'Exploring psychological well-being in personal and professional spheres.',
        },
        {
          title: 'Multiple layout possibilities',
          description:
            'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
        },
        {
          title: 'Interdisciplinary Perspectives in the Sciences and Social Sciences',
          description:
            "Bridging diverse fields for comprehensive problem-solving.",
        },
        {
          title: 'Innovations in Entrepreneurship and Business Growth',
          description:
            'Fostering creative approaches to start-ups and enterprise expansion,',
        },
      ]}
      image={{
        src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
        alt: 'Blueprint Image',
      }}
    >
      <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
  </Content>

    <!-- Content Widget **************** -->

  <Content
      isReversed
      isAfterContent
      items={[
        {
          title: 'Digital Transformations and Disruptions',
          description:
            'Navigating technological changes reshaping industries and societies.',
        },
        {
          title: 'The Digital Economy',
          description:
            'Exploring economic systems driven by digital technologies.',
        },
        {
          title: 'Knowledge Management in the Digital Age',
          description:
            'Strategies for effectively handling information in the era of big data.',
        },
        {
          title: 'Sport and E-Sport Management',
          description: 'Administering traditional and electronic sports in the modern era.'
        },
      ]}
      image={{
        src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'Astronauts Image',
      }}
    >
      <Fragment slot="content">Designed to foster growth and success.</Fragment>

      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
  </Content>

  <Content
      isAfterContent
      items={[
        {
          title: 'Interdisciplinary Perspectives on AI Innovation',
          description: 'Novel methods and technologies revolutionizing learning experiences.',
        },
        {
          title: 'Teaching Innovation: Perspectives from the Field of Education',
          description:
            'Novel methods and technologies revolutionizing learning experiences.',
        },
        {
          title: 'Education Management and Innovation',
          description:
            'Steering educational institutions towards future-ready practices.',
        },
        {
          title: 'Communication Arts',
          description:
            'Exploring creative expression and information exchange in various media.',
        },
      ]}
      image={{
        src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
        alt: 'Blueprint Image',
      }}
    >
      <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
  </Content>

    <!-- Steps Widget ****************** -->

  <Steps
      title="Get your dream website up and running in no time with AstroWind."
      items={[
        {
          title: 'Step 1: <span class="font-medium">Download</span>',
          description:
            "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
          icon: 'tabler:package',
        },
        {
          title: 'Step 2: <span class="font-medium">Add content</span>',
          description:
            "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
          icon: 'tabler:letter-case',
        },
        {
          title: 'Step 3: <span class="font-medium">Customize styles</span>',
          description:
            'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
          icon: 'tabler:paint',
        },
        {
          title: 'Ready!',
          icon: 'tabler:check',
        },
      ]}
      image={{
        src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
        alt: 'Steps image',
      }}
    />
</Layout>